<div>
	<p>token placeholder</p>
	<p *ngIf="token">{{ token }}</p>
</div>

<p>
	<a routerLink="/clubs">Clubs</a>
</p>
<p>
	<a routerLink="/competitions">Competitions</a>
</p>

<h2>Products</h2>

<div *ngFor="let product of products">
	<h3>
		<a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
			{{ product.name }}
		</a>
	</h3>

	<p *ngIf="product.description">
		Description: {{ product.description }}
	</p>

	<div class="button-group">
		<button (click)="share()">
      Share
    </button>
	</div>
	<div class="button-group">
		<app-product-alerts [product]="product" (notify)="onNotify()">
		</app-product-alerts>
	</div>
</div>